<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd">

  <security:http>
    <security:intercept-url pattern="/css/*" filters="none"/>
    <security:intercept-url pattern="/login.action" filters="none"/>
    <security:intercept-url pattern="/register-user.action" filters="none"/>
    <security:intercept-url pattern="/**" access="ROLE_USER"/>
    <security:anonymous/>
    <security:form-login login-page="/login.action" authentication-failure-url="/login.action?failure=true"/>
    <security:logout logout-success-url="/login.action?logout=true"/>
  </security:http>

  <security:authentication-provider user-service-ref="userService"/>

</beans>
